[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghapi = "*"
python-dotenv = "*"
black = "*"
isort = "*"
pycln = "*"
pre-commit = "*"
langchain = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.9"
