aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
async-timeout==4.0.2
attrs==23.1.0
billiard==4.1.0
black==23.7.0
blinker==1.6.2
celery==5.3.1
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.2.0
click==8.1.5
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
dataclasses-json==0.5.9
distlib==0.3.6
fastcore==1.5.29
filelock==3.12.2
Flask==2.3.2
Flask-Cors==4.0.0
frozenlist==1.4.0
ghapi==1.0.4
identify==2.5.24
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.3.1
langchain==0.0.234
langsmith==0.0.5
libcst==0.4.10
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
multidict==6.0.4
mypy-extensions==1.0.0
nodeenv==1.8.0
numexpr==2.8.4
numpy==1.25.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
pre-commit==3.3.3
prompt-toolkit==3.0.39
pycln==2.1.5
pydantic==1.10.11
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0
redis==4.6.0
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.19
tenacity==8.2.2
tomlkit==0.11.8
tqdm==4.65.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
vine==5.0.0
virtualenv==20.24.0
wcwidth==0.2.6
Werkzeug==2.3.6
yarl==1.9.2
